.post-box {
    margin-bottom: 1em;
    max-width: inherit;
    cursor: pointer;
}

.post-box:hover {
  background-color: #f2f2f2;
}

.post-title {
  font-weight: 600;
}

.post-author-date {
    font-size: medium;
    color: grey;
}
