<div class="panel post-box">
    <h2 class="post-title">Post title</h2>
    <h3 class="post-author-date"><span class="post-author">Author</span> - <span class="post-date">12/12/12</span></h3>
    <p class="post-content"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue scelerisque elit.
        Nunc vel lacus sit amet sapien rhoncus tempus tristique in justo. Aliquam dui ipsum, fermentum nec justo vitae,
        rutrum sollicitudin turpis. Maecenas at nulla vestibulum, auctor lectus tincidunt, pretium tellus.<br/>
        Vivamus gravida augue ac pellentesque ornare. Etiam id mauris lacus. In molestie purus ut augue ultrices suscipit.
        Cras sed rutrum neque. Donec nisl lectus, porta suscipit felis ut, hendrerit bibendum arcu.<br/>
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tortor justo, iaculis non ornare at, vehicula ut lectus.
        <strong>Morbi semper dolor dolor.</strong> Maecenas mi nulla, maximus id vehicula suscipit, convallis vitae mi. Pellentesque mattis sagittis mi,
        non pulvinar urna mollis sed. In interdum, nibh quis eleifend ultricies, ligula nisi porttitor urna, non viverra velit lacus sit amet neque.
        Nullam at rutrum enim, et molestie ex. Curabitur iaculis porta aliquam. Etiam purus quam, aliquam et turpis vitae, imperdiet ultrices nibh.
        Donec dapibus eget erat ac sollicitudin.</p>
</div>
