<form class="panel mb-3" id="new-post-form">
  <h2>Post something new on {{concernedWall.Name}} !</h2>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="A title for your post" required>
  </div>
  <div class="mb-3">
    <textarea name="new-post" id="" placeholder="Describe what you have in your mind." class="form-control post-textarea" cols="30" rows="10" required></textarea>
  </div>
  <button class="btn btn-outline-dark" type="submit" id="">Publish <fa-icon [icon]="faUpload"></fa-icon></button>
</form>
