<div class="container-fluid">
    <div class="main-container">
        <div class="app-part side-bar-panel mg-right">
            <div class="panel title-panel">
                <app-title></app-title>
            </div>
            <div class="panel stats-panel">
                <app-stats></app-stats>
            </div>
            <div class="panel walls-panel">
                <app-walls></app-walls>
            </div>
        </div>
        <div class="app-part panel post-panel mg-right">
            <app-posts></app-posts>
        </div>
        <div class="app-part panel post-detail-panel">
            <app-post-detail></app-post-detail>
        </div>
    </div>
</div>