<h2>Post Comments</h2>
<div class="input-group mb-3">
  <textarea name="new-comment" id="" placeholder="Comment something" class="form-control comment-textarea" cols="30" rows="10"></textarea>
  <button class="btn btn-outline-secondary btn-width" type="button" id=""><fa-icon [icon]="faPlus"></fa-icon></button>
</div>
<div class="panel comments-panel">
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
  <app-comment></app-comment>
</div>
