.walls-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wall-item {
    background: #EDFFFA;
    border: 1px solid #c5e3db;
    margin-bottom: 5px;
    padding: 0.5em;
    border-radius: 5px;
}

.wall-item:hover {
    background-color: #daf2ec;
}