<h1>Walls</h1>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Build a new wall" name="new-wall" id="">
    <button class="btn btn-outline-secondary btn-width" type="button" id=""><fa-icon [icon]="faPlus"></fa-icon></button>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search a wall" name="search-wall" id="">
    <button class="btn btn-outline-secondary btn-width" type="button" id=""><fa-icon [icon]="faSearch"></fa-icon></button>
</div>
<app-list></app-list>
